@layer layout {
  body, html {
    /* min-height: 148rem; */
    /* height: 100vh; */
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .m0auto {
    margin: 0 auto;
    width: 105rem;
  }
}