@layer layout.product {
  .product-container {
    display: flex;
    width: 100%;
    height: 55rem;
    justify-content: center;
    align-items: stretch;
    margin-top: 4rem !important;

    & .product-image-container {
      /* border: 1px solid gray; */
      width: 50%;
      display: flex;
      justify-content: center;

      & img {
        border: .1rem solid var(--graycd);
        border-radius: .3rem;
        width: 43rem;
        height: 55rem;
        object-fit: cover;
      }
    }

    & .product-info-container {
      width: 50%;
      height: 60%;
      padding: 1rem 1.5rem;
      border: 1px solid var(--graycd);
      border-radius: .4rem;

      & .product-info__title {
        margin-bottom: 1rem;

        & h1 {
          font-size: 2.4rem;
          font-weight: 600;
        }
      }

      & .product-info__price {
        margin-bottom: 1rem;

        & h1 {
          font-size: 2.4rem;
          font-weigth: 600;
        }
      }

      & .product-info__form {
        & .product-count-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;
          margin: 2rem 0 1rem;
          padding-bottom: 2rem;
          gap: 2rem;
          border-bottom: 1px solid var(--graycd);

          & label[for="product__count"] {}

          & input#product_count {
            width: 20%;
            height: 5rem;
            font-size: 1.8rem;
            text-align: right;
            padding: 0 1rem;
            margin-right: .5rem;
          }
        }

        & .product-info__price-description {
          display: flex;
          flex-flow: row nowrap;
          justify-content: end;
          align-items: flex-end;
          margin-bottom: 2rem;
          /* border-bottom: 1px solid gray; */

          & .product-info__price-label {
            font-size: 1.4rem;
            margin-right: 1rem;
          }

          & .product__price {
            & .product__price-unit {
              font-size: 1.8rem;
              font-weight: 800;
            }
          }
        }

        & .product__buy-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: end;
          align-items: center;
          gap: 1rem;
          height: 5rem;
          /* border: 1px solid gray; */
          margin: 1rem 0 0;

          & .product__favorite-btn {
            width: 5rem;
            padding: 1rem;
            height: 100%;
            border: 1px solid gray;
          }

          & .product__buy-btn {
            width: 80%;
            height: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}