:root {
  --orange: #FA6230;
  --lightblue: #D1E8F7;
  --blue57: #5780E2;
  --blue31: #3168AD;
  --blue33: #3361E0;
  --lightgray: #eaeaea;
  --gray9b: #9B9B9B;
  --gray55: #555555;
  --grayb5: #B5B5B5;
  --graya9: #A9A9A9;
  --white: #F7F7F7;
  --darkwhite: #f7f7f7d9;
  --black33: #333333;
}